                                 Requirements
                                 ============

* Parallel Installing of Packages

* Packet-Mangling
  - Installation
  - Deinstallation
  - Detect no more needed Dependencies
  - Dependencies
  - Blocks
  - Detect Packages which need to be recompiled due to changed USEflags
  - search packages in local repositorys that match a given pattern/regex
  - Installation of .tbz2 gentoo binary packages (cportage -ib package.tbz2)
  - Generating of gentoo binary packages.

* without graphical Interface

* Mode that doesnt require user input (for scripting)

* Mode that doesnt do automatic decisions (for full control)

* Global Settings:
  - Keywords
  - USE-Flags
  - CFLAGS
  - CXXFLAGS
  - FEATURES
  - MAKEOPTS

* Per Packet Settings
  - Blocks
  - Keywords
  - USE Flags
  - CFLAGS
  - CXXFLAGS
  - FEATURES
  - Masks
  - Unmasks
  - MAKEOPTS

* Per Repository Settings
  - Masks
  - Unmasks

* Portable to every UNIX (POSIX)

* Runs on 16-64bit Architectures.

* EAPI-2 Conformant

* Preview-Mode (like --pretend --deptree on portage)

* Strict Separation of Library and Program (libportage/Cportage)

* Automatic Block Resolver

* < 1MB statically linked

* capability to manually call the various stages of packet mangling.
  - check if all dependencys for the given packet are fullfilled, if not,
    return -1 and print out the missing dependencies on stderr.
  - Just merge the given packet and assume all dependencies are fulfilled.
