                                 Requirements
                                 ============

* Parallel Installing of Packages

* Packet-Managing
  - Installation of .tbz2 gentoo binary packages (cportage -ib package.tbz2)
  - Deinstallation of .tbz2 gentoo binary packages (cportage -ib package.tbz2)
  - Search and download of binary packages
  - Generating gentoo binary packages
  - Dependencies
  - Installation of source packages.
  - Deinstallation of source packages.
  - search packages in local repositorys that match a given pattern/regex
  - List all reverse Dependencies for a given Packet
  - Detect no more needed Dependencies
  - Detect Packages which need to be recompiled due to changed USEflags
  - Blocks

* without graphical Interface

* Mode that doesnt require user input (for scripting)

* Mode that doesnt do automatic decisions (for full control)

* track packages that will need a recompile due to library bump (ABI change)

* Global Settings:
  - Keywords
  - USE-Flags
  - CFLAGS
  - CXXFLAGS
  - FEATURES
  - MAKEOPTS

* Per Packet Settings
  - Blocks
  - Keywords
  - USE Flags
  - CFLAGS
  - CXXFLAGS
  - FEATURES
  - Masks
  - Unmasks
  - MAKEOPTS

* Per Repository Settings
  - Masks
  - Unmasks

* Portable to every UNIX (POSIX)

* Runs on 16-64bit Architectures.

* EAPI-2 Conformant

* Preview-Mode (like --pretend --deptree on portage)

* Strict Separation of Library and Program (libportage/Cportage)

* Automatic Block Resolver

* < 1MB statically linked

* capability to manually call the various stages of packet managing.
  - check if all dependencys for the given packet are fullfilled, if not,
    return -1 and print out the missing dependencies on stderr
  - Just merge the given packet and assume all dependencies are fulfilled

* robustness - a cold reset should not harm the integrity of the package
  databse

* simplicity - the package database needs to be simple and manually
  maintainable via text editor.

* very few external libraries/dependencies.
